@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.roboto-slab {
  font-family: "Roboto Slab", serif;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}

::selection {
  background-color: rgb(214, 35, 35);
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* custom container */
.custom-container {
  max-width: var(--container-7xl);
}

@media (width >= 40rem /* 640px */) {
  .custom-container {
    padding-inline: calc(var(--spacing) * 6); /* 1.5rem = 24px */
  }
}
